* {
  box-sizing: border-box;
}

:root {
  --color-green: #0d7633;
  --color-green-transparent: #0d763400;
  --color-light-green: #5aba59;
  --color-green-fade: #8fbf93;
  --color-green-light: #eaf7e3;
  --color-green-background: #e9f2ec;
  --color-green-border: #496a5f;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #f88f06;
  --color-red: #e60000;
  --color-grey: #333333;
  --color-light-grey: #ccc;
}

head,
body {
  margin: 0;
  padding: 0;
  --bs-gutter-x: 0 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mh-70 {
  max-height: 70px;
}
